<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================ -->
<!-- Log4j2 Configuration -->
<!-- ================================ -->
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p %t: %c{1}: %m%n" />
		</Console> 
		
	    <RollingFile name="FILE" fileName="target/log/jds-test.log" filePattern="target/log/jds-test.log-%d{yyyy-MM-dd}.log" >
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
			<Policies>
			<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="org.springframework">
			<level value="DEBUG" />
			<appender-ref ref="FILE" />
		</logger>

		<root level="DEBUG">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="CONSOLE" />
		</root>
	</Loggers>
</Configuration>